body {
	overflow-x: hidden;
}
#navigation.container {
	margin-bottom: 10px;
	padding: 0;
	width: 100%;
}
#data_container {
	/*
	padding-left: 165px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	*/
	padding-bottom: 30px;
	/*
	overflow: hidden;
	*/
}
#menu_container {
	width: 150px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: #34495E;
	border-right: 5px solid #9B59B6;
	color: #fff;
	padding: 0px 15px;
	z-index: 10;
}
#navigation {
	margin-bottom: 70px;
}

.spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-o-keyframes spin {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

blink, .blink {
	-webkit-animation: blink 1s step-end infinite;
	-moz-animation: blink 1s step-end infinite;
	-o-animation: blink 1s step-end infinite;
	animation: blink 1s step-end infinite;
}
@-moz-keyframes blink {
	67% { opacity: 0 }
}
@-webkit-keyframes blink {
	67% { opacity: 0 }
}
@-o-keyframes blink {
	67% { opacity: 0 }
}
@keyframes blink {
	67% { opacity: 0 }
}


#navigation .navbar-text {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
#navigation ul {
	float: left;
	margin: 0;
}
#navigation ul li {
	float: left;
}
#navigation ul li a {
	padding-top: 15px;
	padding-bottom: 15px;
}
#navigation ul.lang-bar li a {
	padding-left: 5px;
	padding-right: 5px;
}
#navigation ul.lang-bar li a span {
	vertical-align: middle;
	padding-left: 5px;
}


/* universal class */
.ln-hgt-16px { height: 16px; line-height: 14px; }
.bg-default { background-color: #EEE; }
.mrg-top-5px { margin-top: 5px; }
.mrg-bot-5px { margin-bottom: 5px; }
.text-area { resize: vertical; min-height: 250px; }
.width-auto { width: auto; }
.text-danger2 { color: #d9534f; }

/* exp-page */ 
.exp-table {}
.exp-table .padng-3px { padding: 3px; }
h3.exp-title {
	display: inline-block;
	max-width: 74%;
	margin: 0;
	padding-left: 40px;
}
.exp-table .btn-edit { padding 0 12px; }
.special-label {
	border: 1px solid transparent;
	display: inline-block;
	padding: 2px 6px 3px 6px;
	border-radius: 10px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.special-label .badge {
	background-color: #fff;
	color: #428bca;
}
td.exp-header { position: relative; }
.exp-title a { }
.exp-title span { }
.exp-title .experiment-icon-record {
  position: absolute;
  top: 5px;
  left: 8px;
}
.row-experiment .remove-button,
.row-experiment .edit-button {
  background: white;
  color: white;
  border: none;
  box-shadow: none;
}
.row-experiment .edit-button {
  transition-property: background;
  transition-duration: 1s;
}
.row-experiment .remove-button {
  transition-property: background;
  transition-duration: 1.2s;
}
.row-experiment:hover .remove-button {
  background: #419641;
}
.row-experiment:hover .edit-button {
  background: #428bca;
}
.panel-group-monitors.panel-group .panel {
  overflow: visible;
}
.panel-primary > .panel-heading .btn-none {
  font-size: 12px;
  padding: 4px 8px;
}
.panel-primary > .panel-heading a.btn-none,
.panel-primary > .panel-heading a.btn-none:focus {
  color: #fff;
  text-decoration: none;
}
.panel-primary > .panel-heading a.btn-none:focus {
  outline: 0 none;
  /*
  outline: thin dotted;
  outline-offset: -2px;
  */
}
.panel-primary > .panel-heading a.btn-none:active,
.panel-primary > .panel-heading a.btn-none:hover {
  outline: 0 none;
}

.panel-primary > .panel-heading a.btn-none:hover {
  color: #2a6496;
  text-decoration: none;
}
.monitor-panel .panel-heading .panel-collapse-control .btn-none {
  margin-left: 10px;
}
.panel.monitor-panel .panel-collapse .table {
  margin-bottom: 0;
}
.mon-table .setup-access {
  padding-right: 18px;
}

.period-work {
	display: inline-block;
	margin-right: 5px;
	float: right;
}
.label-block { float: right; }
.date-block {
	float: right;
	margin-left: 5px;
}
@media only screen and (max-width: 768px) {
	.exp-table h3 { max-width: 100%; margin-bottom: 5px;}
}


/* new session */
.label-page { text-align: center; margin-bottom: 50px; }


/* create setup */
.mrg-top-m5px { margin-top: -5px; }
.mrg-top-20px { margin-top: 20px; }
.setup-label,
.setup-label-long {
  text-align: right;
  margin-top: 7px;
}
.setup-create input.form-control {
	width: auto;
	display: inline-block;
}
.setup-title input.form-control { width: 100%; }

@media only screen and (max-width: 768px) {
	.sensor-block:first-child { margin-bottom: 5px; }
	.setup-label-long { text-align: center; margin-bottom: 5px;}
	.setup-label-long + div { text-align: center; }
}


/* Menu */
#nav_buttons { padding: 0; }
#nav_buttons input { min-width: 130px; }


/* Journal page */
.table-detections .detection-num {
	cursor: pointer;
}
.table-detections a.btn-remove-detection,
.table-detections a.btn-remove-detection:active,
.table-detections a.btn-remove-detection:focus {
	padding: 0px;
	-moz-outline-style: none;
	outline: none;
}
#collapseSensors {
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
}

/* Plot pages */
.table-detections .detection-num {
	cursor: pointer;
}
.control-zoom-range-x .dropdown-menu {
	min-width: 100px;
}
.control-zoom-range-x .dropdown-menu label.checkbox {
	font-weight: normal;
	margin: 0;
}
.plot-control-panel-top > .btn-toolbar > .btn-group {
	margin-bottom: 5px;
}
.fa-plot-points-points {
	background: url('../images/points-points16x16.png') no-repeat scroll 0 -1px transparent;
	height: 15px;
	width: 16px;
	vertical-align: middle;
}
.fa-plot-points-none {
	background: url('../images/points-none16x16.png') no-repeat scroll 0 -1px transparent;
	height: 15px;
	width: 16px;
	vertical-align: middle;
}
.fa-plot-points-heatmap {
	background: url('../images/points-heatmap16x16.png') no-repeat scroll 0 -1px transparent;
	height: 15px;
	width: 16px;
	vertical-align: middle;
}
.fa-plot-points-bubbles {
	background: url('../images/points-bubbles16x16.png') no-repeat scroll 0 -1px transparent;
	height: 15px;
	width: 16px;
	vertical-align: middle;
}
.btn-toolbar .btn-group .toolbar-text {
	margin: 2px 0px;
}

/* Webcam streaming */
.stream-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin: 2px 0;
}
.webcam-info.dl-horizontal dt {
	text-align: left;
}
