body {
	overflow-x: hidden;
}
#data-container {
	//padding-left: 165px;
	//padding-right: 15px;
	//margin-left: auto;
	//margin-right: auto;
	padding-bottom: 30px;
	//overflow: hidden;
}
#menu-container {
	width: 150px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: #34495E;
	border-right: 5px solid #9B59B6;
	color: #fff;
	padding: 0px 15px;
	z-index: 10;
}
#navigation {
	margin-bottom: 70px;
}

.spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


#navigation .navbar-text {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
#navigation ul {
	float: left;
	margin: 0;
}
#navigation ul li {
	float: left;
}
#navigation ul li a {
	padding-top: 15px;
	padding-bottom: 15px;
}



/* Update Style 05.08.15 */
/* universal class */
.ln-hgt-16px { height: 16px; line-height: 14px; }
.bg-default { background-color: #EEE; }
.mrg-top-5px { margin-top: 5px; }
.mrg-bot-5px { margin-bottom: 5px; }
.float-left { float: left; }
.text-area { resize: vertical; min-height: 250px; }
.width-auto { width: auto; }
.button-center { text-align: center; }
.button-center .btn-group { float: none; }
/* exp-page */ 
h3.exp-title {
	margin: 0;
	line-height: 40px;
}
.exp-table h3 {
	line-height: 27px;
	max-width: 74%;
	display: inline-block;
	padding-left: 40px;
}
.exp-table .padng-3px { padding: 3px; }
.exp-table .btn-edit {
	position: absolute;
	left: 20px;
}
.special-label {
	border: 1px solid transparent;
	display: inline-block;
	padding: 2px 6px 3px 6px;
	border-radius: 10px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.special-label .badge {
	background-color: #fff;
	color: #428bca;
}
.ses-title { text-align: center; }
.exp-title a { margin-bottom: 3px; }
.exp-title span { vertical-align: middle; }
.exp-title span.glyphicon { vertical-align: text-top; }
.period-work {
	display: inline-block;
	margin-right: 5px;
	float: right;
}
.label-block { float: right; }
.date-block {
	float: right;
	margin-left: 5px;
}
@media only screen and (max-width: 768px) {
	.exp-table h3 { max-width: 100%; margin-bottom: 5px;}
}


/* new session */
.label-page { text-align: center; margin-bottom: 50px; }


/* create setup */
.mrg-top-m5px { margin-top: -5px; }
.mrg-top-20px { margin-top: 20px; }
.setup-label,
.setup-label-long {
  text-align: right;
  margin-top: 7px;
}
.setup-create input.form-control {
	width: auto;
	display: inline-block;
}
.setup-title input.form-control { width: 100%; }

@media only screen and (max-width: 768px) {
	.sensor-block:first-child { margin-bottom: 5px; }
	.setup-label-long { text-align: center; margin-bottom: 5px;}
	.setup-label-long + div { text-align: center; }
}

/* Menu */
#nav-buttons { padding: 0; }
#nav-buttons input { min-width: 130px; }
