body
{
	overflow-x: hidden;
}
#data-container {
	//padding-left: 165px;
	//padding-right: 15px;
	//margin-left: auto;
	//margin-right: auto;
	padding-bottom: 30px;
	//overflow: hidden;
}
#menu-container
{
	width: 150px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: #34495E;
	border-right: 5px solid #9B59B6;
	color: #fff;
	padding: 0px 15px;
	z-index: 10;
}

#navigation
{
	margin-bottom: 70px;
}
